.card_wrapper {
  max-width: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 76px;
}
.card_wrapper img {
  width: 50px;
  margin-bottom: 8px;
}
.card_wrapper h4 {
  color: #fff;
  font-size: 500;
  line-height: 24px;
}
.card_wrapper p {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}
