.footer {
  background-color: #040221;
}
.footer_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_line {
  border-left: 1px solid #ff0513;
  height: 40px;
  left: 50%;
  margin-bottom: 15px;
}
.footer_txt h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
.footer_txt small {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  line-height: 35px;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding-right: 5px;
}
.nav_links li a {
  text-decoration: none;
  padding-right: 5px;
  border-right: 1px solid #fff;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.nav_links li:last-child a {
  border-right: none;
}
.icons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.icons a:nth-child(1) {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.icons a {
  color: #fff;
  padding-right: 20px;
}
.footer_bottom {
  border-top: 1px solid #707070;
  padding: 30px 15px;
}
.footer_bottom p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .footer {
    width: 831px;
  }
}
